.landing {
	max-width: 780px;
	margin: 0 auto;
	& > ul {
		display: flex;
		flex-direction: row;
   		flex-wrap: wrap;
		& > li {
			position: relative;
			flex: 1 0 calc(50% - #{$vert/3});
			@media(max-width: 800px) {
				flex: 1 0 100%;
			}
			margin-right: 20px;
			margin-bottom: 20px;
			background: white;
			display: inline-block;
			font-size: 30px;
			font-weight: 700;
			&:nth-child(even) {
				margin-right: 0px;
			}
			& > a {
				transition: $trans;
				background: white;
				display: block;
				padding: 30px;
			}
		}
	}

	// Sub navigation inside departments
	& > ul li:hover {
		a {
			background: $col1;
			&:hover {
				background: desaturate(lighten($col1, 7), 21);
			}
			color: white;
		}
		ul.sub-nav {
			opacity: 1;
			pointer-events: inherit;
			a {
				color: white;
			}
		}
	}
	ul.sub-nav {
		position: absolute;
		width: 100%;
		z-index: 333;
		background: $col1;
		left: 0;
		top: 0;
		opacity: 0;
		&:hover {
			overflow: visible;
			height: auto;
		}
		li {
			display: block;
			border-top: 0;
			> a {
				display: block;
				padding: 20px 30px;
			}
		}
	}
}