header {
	padding: 20px 0;
	background: white;
	height: 96px;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 9999;
	box-shadow: 0 0 0 4px rgba(0,0,0,.07);
	& > div {
		padding: 0 2vw;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1600px;
	}

	div.logo {
		flex: 0 0 225px;
		font-size: 28px;
		font-weight: 700;
		position: relative;
		a {
			display: block;
			text-indent: -9999px;
			width: 150px;
			height: 50px;
			background: url('/assets/images/logo.svg') center center no-repeat; 
			background-size: 95%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.search {
		flex: 1 0 auto;
		max-width: 50%;
		position: relative;
		@media (max-width: 800px) {
			width: 100%;
			padding: 0;
			max-width: none;
			position: absolute;
			top: 96px;
			left: 0;
		}
		.searchbox {
			width: 100%;
			height: 100%;
			padding: 12px 15px;
			font-size: 20px;
			border-radius: 5px;
			@media(max-width: 800px) {
				border-radius: 0;
				background: white;
				border-top: 2px solid #66ca91;
			}
			box-shadow: none;
			border: none;
			background: lighten($g20, 10%);
			outline: none;
			font-family: $sans;
		} 
		input[type="submit"] {
			position: absolute;
			right: 7px;
			top: 50%;
			transform: translateY(-50%);
			text-indent: -9999px;
			overflow: hidden;
			display: block;
			width: 35px;
			height: 35px;
			border: none;
			background: url('../images/search.svg') 7px 6px no-repeat;
			cursor: pointer;
		}
	}

	nav {
		flex: 0 0 225px;
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		.favourites, .settings, .basket, .home {
			display: inline-block;
			a {
				display: inline-block;
				width: 50px;
				height: 50px;
				text-align: center;
				padding-top: 15px;
				overflow: hidden;
			}
		}
		.favourites {
			a {
				padding-top: 16px;
			}
		}
		.settings {
			ul {
				position: absolute;
				right: 0;
				width: 200px;
				z-index: 9999;
				background: $col1;
				text-align: left;
				padding: 15px 0 0 0;
				opacity: 1;
				pointer-events: normal;
				transition: $trans;
				&::before {
					content: '';
					display: block;
					width: 30px;
					height: 30px;
					background: $col1;
					position: absolute;
					top: 0px;
					right: 10px;
					transform: rotate(45deg);
				}
				&.closed {
					margin-top: 10px;
					opacity: 0;
					pointer-events: none;
				}
				li {
					&:last-child {
						border-top: 1px solid white;
						margin-top: 15px;
						a {
							color: white;
							pointer-events: none;
							padding: 15px 25px;
							line-height: 26px;
						}
					}
					a {
						display: block;
						width: 100%;
						color: white;
						height: inherit;
						text-indent: 0;
						text-align: left;
						line-height: .8em;
						padding: 10px 25px 5px;
						transition: all ease .3s;
						span {
							display: block;
						}
						&:hover {
							opacity: .4;
						}
					}
				}
			}
		}
		.basket {
			display: none;
		    @media screen and (max-width: 1000px) {
		    	display: inline-block;
			    svg {
					width: 26px;
					height: 26px;
				}
		    }
			
		}
	}
}