$white : #fff;
$black : #000;
$green : #66ca91;
header {
	padding: 20px 0;
	background: $white;
	height: 96px;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 9999;
	box-shadow: 0 0 0 4px rgba(0,0,0,.07);
	& > div {
		padding: 0 2vw;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1600px;
	}

	div.logo {
		flex: 0 0 225px;
		font-size: 28px;
		font-weight: 700;
		position: relative;
		a {
			display: block;
			text-indent: -9999px;
			width: 150px;
			height: 50px;
			background: url('/assets/images/logo.svg') center center no-repeat; 
			background-size: 95%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.searchContainer {
		display: flex;
		flex: 1 0 auto;
		max-width: 50%;
		position: relative;
		align-items: center;
		> a {
			margin-left: 0;
			padding: 5px 10px;
			max-width: 110px;
			background-color: #e6e6e6;
			text-align: center;
			border-radius: 0 5px 5px 0;
			transition: $trans;
			&:hover {
				background-color: $black;
				color: $white;
			}
		}
		@media (max-width: 800px) {
			width: 100%;
			padding: 0;
			max-width: none;
			position: absolute;
			top: 96px;
			left: 0;
			> a {
				border-radius: 0;
				background-color: $white;
				border: solid $green;
				border-width: 2px 0 0;
			}
		}
	}
	.search {
		flex-grow: 1;
		position: relative;

		.searchbox {
			width: 100%;
			height: 100%;
			padding: 12px 15px;
			font-size: 20px;
			border-radius: 5px 0 0 5px;
			@media(max-width: 800px) {
				border-radius: 0;
				background: $white;
				border-top: 2px solid $green;
			}
			box-shadow: none;
			border: none;
			background: lighten($g20, 10%);
			outline: none;
			font-family: $sans;
		} 
		input[type="submit"] {
			position: absolute;
			right: 0;
			top: 0;
			text-indent: -100vw;
			overflow: hidden;
			display: block;
			width: 50px;
			height: 48px;
			background: transparent url("../images/search.svg") 50% 50% no-repeat;
			cursor: pointer;
			border: solid $white;
			border-width: 0 1px;
			transition: $trans;
			&:hover {
				color: white;
				background: $black url("../images/search-white.svg") 50% 50% no-repeat;
			}
			@media(max-width: 800px) {
				background-color: $green;
				border-width: 0;
				height: 50px;
			}
		}
	}

	nav {
		flex: 0 0 225px;
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		.favourites, .settings, .basket, .home {
			display: inline-block;
			a {
				display: inline-block;
				width: 50px;
				height: 50px;
				text-align: center;
				padding-top: 15px;
				overflow: hidden;
			}
		}
		.favourites {
			a {
				padding-top: 16px;
			}
		}
		.settings {
			ul {
				position: absolute;
				right: 0;
				width: 200px;
				z-index: 9999;
				background: $col1;
				text-align: left;
				padding: 15px 0 0 0;
				opacity: 1;
				pointer-events: all;
				transition: $trans;
				&::before {
					content: '';
					display: block;
					width: 30px;
					height: 30px;
					background: $col1;
					position: absolute;
					top: 0;
					z-index: -1;
					right: calc(50% - 15px);
					transform: rotate(45deg);
				}
				&.closed {
					margin-top: 10px;
					opacity: 0;
					pointer-events: none;
				}
				li {
					&:last-child {
						border-top: 1px solid white;
						margin-top: 15px;
						a {
							color: white;
							pointer-events: none;
							padding: 15px 25px;
							line-height: 26px;
						}
					}
					a {
						display: block;
						width: 100%;
						color: white;
						height: inherit;
						text-indent: 0;
						text-align: left;
						line-height: .8em;
						padding: 10px 25px 5px;
						transition: all ease .3s;
						span {
							display: block;
						}
						&:hover {
							opacity: .4;
						}
					}
				}
			}
		}
		.basket {
			display: inline-block;
			svg {
				width: 26px;
				height: 26px;
			}
		}
	}
}