
ul.past {
	background: white;
	color: black;
	// margin-top: 20px;
	li.title  {	
		position: relative;	
		border-bottom: solid 1px #ccc;
		> .basket {
			position: absolute;
			right: 80px;
			top: 18px;
			z-index: 2;
			width: 24px;
			height: 24px;
			background: url('../../../assets/images/basket.svg') center center no-repeat;
			> a {
				display: block;
				width: 59px;
				height: 59px;
				top: -18px;
				left: -18px;
				position: relative;
				&:hover {
					background-color: rgba(0,0,0,.05);
				}
			}
		}
		&:last-of-type {
				border-bottom: 0;
		}
		> a {
			display: flex;
			padding: 20px 20px;
			font-size: 16px;
			font-weight: 400;
			span {
				flex: 1;
				white-space: nowrap;
			}
		}
		.grid {
			display: block;
			max-height: 0;
			overflow: hidden;
			border-top: solid 1px #ccc;
			.item:nth-last-child(2) {
				border-bottom: 2px solid rgba(0,0,0,1);
			}
			transition: max-height .3s cubic-bezier(.4,0,.2,1);
		}
		.summary {
			display: none;
			background: white;
			padding: 20px;
			p {
				margin-bottom: 20px;
			}
			& > div {
				div.orders {
					display: flex;
					p {
						flex: 1;
						display: block;
						color: $col1;
						span {
							color: white;
							display: inline-block;
							width: 30px;
							height: 30px;
							padding-top: 5px !important;
							border-radius: 15px;
							background: $col2;
							text-align: center;
						}
					}
				}
				div.errors {
					color: tomato;
					h3, li {
						margin-bottom: 10px;
					}
				}
			}
		}
		&.active {
			.summary, .grid {
				display: block;
				max-height: 100vh;
				background-color: rgba(0,0,0,0.04);
			}
		}
	}
	.options {
		.pagination{
			display: none;
		}
		.delete {
			display: none;
		}
	}

}

div.past-pagination { 
	background: white;
	width: 100%;
	overflow: auto;
	padding: 20px;
	border-top: 1px solid rgba(0,0,0,.2);
	div {
		float: left;
		display: inline-block;
		ul, li {
			display: inline-block;
		}
		a {
			display: inline-block;
			background: black;
			width: 30px;
			height: 30px;
			text-align: center;
			padding: 5px;
			color: white;
			transition: $trans;
			&:hover {
				background: $col2;
			}
		}
	}
}

ul.past-master {
	display: flex;
	background: white;
	padding: 20px 20px;
	border-bottom: 2px solid black;
	li {
		flex: 1;
		color: $g50;
		font-size: 16px;
	}
}

// Toggle Arrow
ul.past li.title {
	> a {
		&::after {
			content: '';
			position: absolute;
			height: 15px;
			width: 15px;
			background: 0 0;
			border-right: 2px solid #000;
			border-bottom: 2px solid #000;
			transform: rotate(45deg) scale(1,1);
			transition: all .3s cubic-bezier(.4,0,.2,1);
			right: 25px;
		}
	}

	&.active {
		a::after {
			transform: rotate(45deg) scale(-1,-1);
			margin-top: 10px;
		}
	}
}